<section id="contacto">
  <!-- <div class="contact-bg"></div> -->
  <svg id="blue-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#F8F8F8" points="100,0 0,0 0,55 100,60" />
  </svg>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1 class="title">Contacto</h1>
      </div>
    </div>
    <div class="row flex">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="contact-info" data-aos="fade-right" data-aos-delay="150" data-aos-offset="100">
          <div class="item">
            <div class="item-text">
              <h4>Dirección</h4>
              <p>Córdoba 1365 Piso 7 - Oficina 1</p>
              <p>Rosario, Santa Fe, Argentina.</p>
            </div>
            <i class="small material-icons">location_on</i>
          </div>
          <div class="item">
            <div class="item-text">
              <h4>Teléfono</h4>
              <p>+54 (0341) 527-0995</p>
            </div>
            <i class="small material-icons">phone</i>
          </div>
          <div class="item">
            <div class="item-text">
              <h4>E-mail</h4>
              <p>info@ampm.com.ar</p>
            </div>
            <i class="small material-icons">mail</i>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div id="map" data-aos="fade-left" data-aos-delay="150" data-aos-offset="100"></div>
        <div class="contact-map" >
        </div>
      </div>
    </div>
  </div>
  <!-- <svg id="light-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#F8F8F8" points="0,100 100,0 100,100" />
  </svg> -->
  
</section>