@import './src/variables';

#contacto {
  padding: 6rem 0;
  // background-color: $light-blue;
  position: relative;
  #blue-block {
    @include full-content;
    width: 100%;
    z-index: 0;
    polygon {
      fill: $primary;
    }
  }
  #light-block {
    @include full-content;
    width: 100%;
    z-index: 0;
    height: 3rem;
    top: auto;
    polygon {
      fill: $secondary;
    }
  }
  .row.flex {
    display: flex;
  }
  .title {
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 6rem;
    text-align: center;
    position: relative;
    font-weight: 600;
    &::after {
      @include blue-line;
      left: calc(50% - 3rem);
      width: 6rem;
      background: #fff;
    }
  }
  .contact-bg {
    @include full-content;
    height: 50%;
    background: $primary;
  }

  .contact-info {
    background-color: #fff;
    @include box-shadow;
    padding: 6rem;
    position: relative;
    .item {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      h4 {
        color: $primary;
        font-size: 1.3rem;
        text-transform: uppercase;
        margin-top: 0;
        line-height: 1;
        margin-bottom: .5rem;
        font-weight: 600;
      }
      p {
        margin: 0;
        line-height: 1.3;
        color: $gray;
      }
      i {
        color: $primary;
      }
      &:last-child {
        margin-bottom: 0rem;
      }
      &:not(:last-child)::after {
        width: 100%;
        position: absolute;
        bottom: -1.5rem;
        background: rgba($gray, .15);
        content: '';
        left: 0;
        height: 1px;
      }
    }
  }
  #map {
    height: 100%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    @include box-shadow;
  }

  @media only screen and (max-device-width: 900px) {
    .contact-info {
      padding: 2rem;
    }
    #map {
      height: 50vh;
      margin-top: 2rem;
    }
    .row.flex {
      flex-wrap: wrap;
    }
  }
}