<section id="quienes-somos">
  <div class="light-block"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 m12 col-sm-12">
        <div class="about-content" data-aos="fade-right" data-aos-delay="200">
          <h1 class="title">Quiénes Somos</h1>
          <p>Asociación Mutual Pedro de Mendoza fue fundada en la ciudad de Rosario, en el año 2001 constituido bajo los fines de la ayuda
          mutua, la reciprocidad y la solidaridad. Integramos una entidad sin ánimo de lucro en la que nos unimos voluntariamente con
          el objetivo principal de brindar servicios de asesoramiento, consultoría, subsidios y ayuda económica para guiar a nuestros
          asociados en todos sus proyectos.</p>
          <p>Con la misión de llegar a diversos objetivos afines, en el último tiempo se impulsó un nuevo enfoque con el apoyo de los
          asociados para comenzar a desarrollar con mayor ímpetu un camino fluido y recíproco para la obtención de beneficios mutuos.
          Buscamos mejorar los aspectos sociales destinados a colaborar con las necesidades de nuestros asociados así como en la mejora
          de su calidad de vida.</p>
        </div>
      </div>
    </div>
  </div>
</section>
