@import './src/variables';

#quienes-somos {
  background: #fff;
  padding: 6rem 0;
  position: relative;
  .light-block {
    @include full-content;
    left: auto;
    width: 15%;
    background: rgba($primary,.10);
    z-index: 0;
  }
  .about-content {
    background: #fff;
    @include box-shadow;
    padding: 6rem;
    z-index: 9;
    position: relative;
    .title {
      margin-top: 0;
      margin-bottom: 3rem;
      color: $primary;
      position: relative;
      &::after {
        @include blue-line;
      }
    }
  }
  @media only screen and (max-device-width: 900px) {
    .about-content {
      padding: 2rem 1.5rem;
      .title {
        &::after {
          left: 0;
        }
      }
    }
  }
}