<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 logo">
        <img src="assets/ampm-white_2.svg" alt="AMPM">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 redes">
        <ul>
          <h5>Redes</h5>
          <li><a href="https://www.facebook.com/Asociacion-Mutual-Pedro-Mendoza" target="_blank"><img src="assets/social/facebook-logo.png" target="_blank" alt="Facebook"> /Asociacion-Mutual-Pedro-Mendoza</a></li>
          <li><a href="https://www.instagram.com/ampmok/" target="_blank"><img src="assets/social/instagram-logo.png" target="_blank" alt=""> @ampmok</a></li>
          <li><a href="https://wa.me/543412116418" target="_blank"><img src="assets/social/whatsapp-logo.svg" target="_blank" alt=""> Whatsapp</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="buttons">
          <a routerLink="" fragment="asociate" [scrollTo]="'#asociate'" [scrollOffset]="-90" class="waves-effect waves-light btn btn-primary roundedBtn btn-white">Asociate</a>
          <a routerLink="ayuda-economica" class="waves-effect waves-light btn btn-outline-primary out-white">Ayuda Económica</a>
        </div>
      </div>
      <div class="col-lg-2 col-sm-12">
        <div class="sections">
          <ul>
            <h5>Secciones</h5>
            <li><a routerLink="" [scrollTo]="'#banner-top'">Inicio</a></li>
            <li><a routerLink="" fragment="quienes-somos" [scrollTo]="'#quienes-somos'" [scrollOffset]="-90">Quiénes Somos</a></li>
            <li><a routerLink="" fragment="servicios" [scrollTo]="'#servicios'" [scrollOffset]="-90">Servicios</a></li>
            <li><a routerLink="" fragment="beneficios" [scrollTo]="'#beneficios'" [scrollOffset]="-90">Beneficios</a></li>
            <li><a routerLink="" fragment="contacto" [scrollTo]="'#contacto'" [scrollOffset]="-90">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
           © 2018 | Asociación Mutual Pedro de Mendoza | Derechos Reservados
         <a class="right" href="http://infuze.com.ar" target="_blank">Desarrollado por Infuze</a>
        </div>
      </div>
    </div>
  </div>
</footer>
