@import './src/variables';

#footer {
  padding: 6rem 0 0;
  background-color: $secondary;
  color: #fff;
  font-weight: 200;
  h5 {
    margin-top: 0;
  }
  a {
    color: #fff;
    transition: all .3s ease-in;
    &:not(.btn):hover {
      text-decoration: underline;
    }
  }
  &>.container>.row {
    margin-bottom: 4.5rem;
  }
  .logo {
    @include valign-center;
    img {
      width: 50%;
    }
  }
  .sections {
    display: flex;
    justify-content: center;
  }
  .buttons {
    @include valign-center;
    align-items: center;
    height: 100%;
    .btn {
      min-width: 70%;
      &-white {
        color: $secondary;
      }
      &.out-white {
        &:hover {
          color: $secondary;
        }
      }
      &:first-child {
        margin-bottom: 1.5em;
      }
    }
  }
  .redes {
    display: flex;
    justify-content: center;
    a {
      display: flex;
      line-height: 2;
      align-items: center;
    }
    img {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }
  .rights {
    margin-top: 2rem;
  }
  .footer-copyright {
    padding: 12px 0;
  }


  @media only screen and (max-device-width: 900px) {
    padding-top: 3rem;
    &>.container>.row {
      margin-bottom: 0rem;
    }
    .logo {
      align-items: center;
      margin-bottom: 2rem;
      img {
        width: 35%;
      }
    }
    .redes {
      display: block
    }

    .buttons, .sections {
      display: none;
    }
    .footer-copyright {
      a {
        width: 100%;
        margin-top: 2rem;
        text-align: right;
      }
    }
  }
  
  @media only screen and (min-device-width: 960px) {
    .row {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
