<section id="asociate">
  <svg id="blue-triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#F8F8F8" points="100,0 100,100 0,100 100,0" />
  </svg>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 m12 col-sm-12">
        <div class="content">
          <h1 class="title" data-aos="fade-up" data-aos-delay="150" data-aos-offset="200">Asociate</h1>
          <p class="subtitle" data-aos="fade-up" data-aos-delay="250" data-aos-offset="200">Por favor, complete el siguiente formulario para iniciar su proceso de asociación.</p>
          <form [formGroup]="associateForm" data-aos="fade-up" data-aos-delay="350" data-aos-offset="200" id="associate-form">
            <div class="row">
              <div class="input-field col s12 col-sm-12 col-lg-6 ">
                <input id="nya" name="name" type="text" class="validate" formControlName="name"  required>
                <label for="nya">Nombre y Apellido*</label>
              </div>
              <div class="input-field col s12 col-sm-12 col-lg-6 ">
                <input id="dni" name="dni" type="number" formControlName="dni" class="validate" required>
                <label for="dni">DNI*</label>
              </div>
              <div class="input-field col s12 col-sm-12 col-lg-6 ">
                <input id="tel" name="tel" type="tel" formControlName="tel"class="validate" required>
                <label for="tel">Teléfono*</label>
              </div>
              <div class="input-field col s12 col-sm-12 col-lg-6 ">
                <input id="cuil" name="cuil" formControlName="cuil" type="text">
                <label for="cuil">CUIL</label>
              </div>
              <div class="input-field col s12 col-sm-12 col-lg-6 ">
                <input id="domicilio" name="domicilio" formControlName="domicilio" type="text" class="validate" required>
                <label for="domicilio">Domicilio*</label>
              </div>
              <div class="input-field col s12 col-sm-12 col-lg-6 ">
                <input id="email" name="email" formControlName="email" type="email" class="validate" required>
                <label for="email">Email*</label>
              </div>
              <div class="input-field col s12 col-sm-12 col-lg-6 ">
                <input id="localidad" name="localidad" formControlName="localidad" type="text" class="validate" required>
                <label for="localidad">Localidad*</label>
              </div>
              <div class="input-field col s12 col-sm-12 col-lg-6 ">
                <input id="provincia" name="provincia" formControlName="provincia" type="text" class="validate" required>
                <label for="provincia">Provincia*</label>
              </div>
              <div class="col-sm-12 col-lg-6 ">
                <div class="estado-civil">
                  <span>Estado Civil*:</span>
                  <div class="input-field col s12 inline">
                    <label for="soltero">
                      <input id="soltero" formControlName="estadoCivil" class="with-gap" name="estadoCivil" value="soltero" type="radio" />
                      <span>Soltero/a</span>
                    </label>
                    <label for="casado">
                      <input id="casado" formControlName="estadoCivil" class="with-gap" name="estadoCivil" value="casado" type="radio" />
                      <span>Casado/a</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="input-field col s12 col-sm-12 col-lg-6 ">
                <textarea id="observaciones" name="message" formControlName="message" class="materialize-textarea"></textarea>
                <label for="observaciones">Observaciones</label>
              </div>
            </div>
            <div class="row">
              <div class="file-field input-field col-sm-12 col-lg-6">
                <div class="btn btn-outline-primary">
                  <span>Examinar</span>
                  <input [disabled]="loadingSendForm" type="file" formControlName="dniFile" (change)="addFile($event)">
                </div>
                <div class="file-path-wrapper">
                  <input [disabled]="loadingSendForm" class="file-path validate" type="text" placeholder="Adjuntar DNI (frente y dorso)">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12 submit-wrapper">
                <button 
                  type="submit"
                  [disabled]="!associateForm.valid || loadingSendForm"
                  class="waves-effect waves-light btn btn-primary roundedBtn"
                  (click)="sendEmail()">
                  <img class="loading" *ngIf="loadingSendForm" src="assets/icons/loading-spinner.svg" alt="Cargando...">
                  <span *ngIf="!loadingSendForm">Enviar</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>




