@import './src/variables';

#asociate {
  background: #fff;
  padding: 6rem 0;
  position: relative;
  #blue-triangle {
    @include full-content;
    z-index: 0;
    polygon {
      fill: $primary;
    }
  }
  .content {
    // text-align: center;
    position: relative;
    background: #fff;
    @include box-shadow;
    padding: 6rem;
    .title {
      color: $primary;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 4rem;
      text-align: center;
      position: relative;
      font-weight: 600;
      &::after {
        @include blue-line;
        left: calc(50% - 3rem);
        width: 6rem;

      }
    }
  }

  #associate-form {
    span {
      color: $gray;
    }
    .input-field {
      margin-top: .5rem;
      margin-bottom: .5rem;
      &.inline {
        label {
          position: relative;
          margin-left: 2rem;
          &:last-child {
          }
        }
      }
    }

    .estado-civil {
      height: 3rem;
      margin: .5rem 0;
      display: flex;
      align-items: center;
    }

    .submit-wrapper {
      text-align: right;
      .btn {
        min-width: 25%;
      }
    }
    // 
    // Estilos lineas y labels del formulario
    .input-field {
      /* label focus color */
      label {
        color: $gray;
      }
      textarea {
        max-height: 75px;
        overflow-y: scroll;
      }
      input[type=text],
      input[type=email],
      input[type=number],
      input[type=tel],
      textarea {
        &:focus {
          /* label underline focus color */
          border-bottom: 1px solid $primary;
          box-shadow: 0 1px 0 0 $primary;
          &+ label {
            color: $primary;
          }
        }
        /* valid color */
        &.valid {
          border-bottom: 1px solid $primary;
          box-shadow: 0 1px 0 0 $primary;
        }
        /* invalid color */
        &.invalid {
          border-bottom: 1px solid $primary;
          box-shadow: 0 1px 0 0 $primary;
        } 
      }
      /* icon prefix focus color */
      .prefix {
        &.active {
          color: $primary;
        }
      }

      input[type=radio]:checked+span::after {
        border: 2px solid $primary !important;
        background-color: $primary !important;
      }
      input[type=radio]:checked+span::before {
        border: 2px solid $primary !important;
      }
    }
    // End Estilos lineas y labels


  }

  .loading {
    height: 30px;
    width: 30px;
  }

  @media only screen and (max-device-width: 900px) {
    .col {
      flex-basis: auto;
    }
    .form-options {
      display: block;
    }
    .content {
      padding: 2rem 1.5rem;
    }
    #blue-triangle {
      height: calc(100% + 2px);
    }
    #associate-form {
      .input-field {
        &.inline {
          label {
            margin-left: 5px;
          }
        }
      }
      [type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
        padding-left: 25px;
      }
      .btn {
        width: 100%;
      }
    }
  }
}