@import './src/variables';

.navbar-fixed {
  position: fixed;
}

nav {
  background-color: transparent;
  box-shadow: none;
  transition: all .5s ease;
  color: $primary;
  .nav-wrapper {
    .brand-logo {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .logo {
    width: auto;
    height: 70%;
    transition: all 1s ease;
  }
  #logo-white {
    opacity: 1;
    display: block;
  }
  #logo-dark {
    opacity: 0;
    display: none;
  }
  
  ul {
    li {
      a {
        color: inherit;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        font-size: 14px;
        &::after {
          @include blue-line;
          left: 25%;
          width: 0;
          bottom: 20px;
          transition: all .3s ease-in;
        }
        &:hover {
          background: transparent;
          text-decoration: none;
          &::after {
            width: 50%;
          }
        }
      }
    }
  }

  &.scrolled {
    background: #fff;
    color: $primary;
    @include box-shadow;
    height: $nav-scrolled !important;
    line-height: $nav-scrolled !important;
    .nav-wrapper,
    .nav-wrapper i,
     a.sidenav-trigger, 
     a.sidenav-trigger i, 
     .navbar-fixed {
      height: $nav-scrolled !important;
      line-height: $nav-scrolled !important;
    }
    .sidenav-trigger {
      color: $primary;
    }
    #logo-white {
      opacity: 0;
      display: none;
    }
    #logo-dark {
      opacity: 1;
      display: block;
    }
  }

}

.nav-whatsapp {
  width: 30px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  nav, nav .nav-wrapper, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
      height: $nav-responsive !important;
      line-height: $nav-responsive !important;
  }

  .selector-icon {
    font-size: 20px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;

    &::before {
      color: $primary;
    }
  }

  .nav-whatsapp {
    width: 25px;
    height: auto;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
      height: $nav !important;
      line-height: $nav !important;
  }
}

@media (max-width: 1200px) {
  nav {
    background: #FFF;
    #logo-dark {
      opacity: 1;
      display: block;
    }
    #logo-white {
      opacity: 0;
      display: none;
    }
  }
}