<div class="navbar-fixed">
  <nav id="navbar" [ngClass]="{'scrolled': navScrolled === true }">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="nav-wrapper">
            <a routerLink="" [scrollTo]="'#banner-top'" class="brand-logo">
              <img id="logo-white" class="logo" src="assets/ampm-white_2.svg" alt="AMPM">
              <img id="logo-dark" class="logo" src="assets/ampm_logo.svg" alt="AMPM">
            </a>
            <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a routerLink="" fragment="servicios" [scrollTo]="'#servicios'" [scrollOffset]="-90">Servicios</a></li>
              <li><a routerLink="" fragment="beneficios" [scrollTo]="'#beneficios'" [scrollOffset]="-90">Beneficios</a></li>
              <li><a routerLink="ayuda-economica" [scrollTo]="'#ayuda-economica'" [scrollOffset]="-90">Ayuda Económica</a></li>
              <li><a routerLink="" fragment="asociate" [scrollTo]="'#asociate'" [scrollOffset]="-70">Asociate</a></li>
              <li><a routerLink="" fragment="contacto" [scrollTo]="'#contacto'" [scrollOffset]="-70">Contacto</a></li>
              <li>
                <a href="https://wa.me/543412116418" target="_blank">
                  <img src="assets/social/whatsapp.svg" alt="whatsapp" class="nav-whatsapp">
                </a>
              </li>
            </ul>
          </div>
  
        </div>

      </div>
    </div>
  </nav>
  
</div>
  
<ul class="sidenav" #sidenav id="mobile-demo">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="assets/ampm-credits.jpg">
      </div>
      <a routerLink="">
        <img class="circle" src="assets/ampm.jpg">
      </a>
      <a>
        <span class="name">Beneficios a todo momento</span>
      </a>
      <a>
        <span class="email dark-color">Conocé más sobre lo que tenemos para vos.</span>
      </a>
    </div>
  </li>
  <li>
    <a routerLink="/cotizaciones/art">
      <i class="selector-icon icon-engineer primary-color"></i>Cotización de ART</a>
  </li>
  <li>
    <a routerLink="/cotizaciones/auto">
      <i class="selector-icon icon-car primary-color"></i>Cotización de Auto</a>
  </li>
  <li>
    <a routerLink="/cotizaciones/hogar">
      <i class="selector-icon icon-house primary-color"></i>Cotización de Hogar</a>
  </li>
  <li><div class="divider"></div></li>
  <li><a routerLink="" fragment="servicios" [scrollTo]="'#servicios'" [scrollOffset]="-90">Servicios</a></li>
  <li><a routerLink="" fragment="beneficios" [scrollTo]="'#beneficios'" [scrollOffset]="-90">Beneficios</a></li>
  <li><a routerLink="ayuda-economica">Ayuda Económica</a></li>
  <li><a routerLink="" fragment="asociate" [scrollTo]="'#asociate'" [scrollOffset]="-90">Asociate</a></li>
  <li><a routerLink="" fragment="contacto" [scrollTo]="'#contacto'" [scrollOffset]="-90">Contacto</a></li>
  <li>
    <a href="https://wa.me/543412116418" target="_blank">
      <img src="assets/social/whatsapp.svg" alt="whatsapp" class="nav-whatsapp">Whatsapp
    </a>
  </li>
</ul>