@import './src/variables.scss';

.row .col.l12 {
  margin-left: initial !important;
}
.cotizaciones {


  &__header {
    background-color: $primary;
    color: white;
    margin-top: 80px;
    padding: 2.5rem 0;

    &-title {
      margin: 0;
    }

    &-text {
      margin: .5rem 0 0;
      font-weight: 300;
    }
  }
  
  &__form {
    padding: 3rem 0;

    &-title {
      position: relative;
      color: $primary;
      margin-bottom: 3rem;
      &::after {
        @include blue-line;
        left: 0;
        width: 125px;
      }
    }
  }
}

.input-field {
  &.inline {
    margin: 0;

    label {
      margin-left: 0;

      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}

.form-options {
  height: 3rem;
  margin: .5rem 0;
  display: flex;
  align-items: center;

  span {
    flex-basis: 40%;
    color: rgba(0, 0, 0, 0.4);
  }
}

.submit-wrapper {
  display: flex;

  .btn {
    min-width: 40%;
    margin-top: 2rem;
  }
}

@media only screen and (max-device-width: 768px) {

  .col {
    flex-basis: auto;
  }

  .form-options {
    display: block;
  }

  .submit-wrapper {
    .btn {
      min-width: 100%;
    }
  }
}