<app-navbar [status]="true"></app-navbar>

<div class="cotizaciones__header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="cotizaciones__header-title">Cotizador</h1>
        <p class="cotizaciones__header-text">Selecciona lo que deseas cotizar</p>
      </div>
    </div>
  </div>
</div>

<app-selector-cotizaciones (selectedTab)="updateSelectedTab($event)" [active]="selectedTab"></app-selector-cotizaciones>

<div class="cotizaciones__form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="cotizaciones__form-title">
          FORMULARIO COTIZACIÓN {{ selectedTab | uppercase }}
        </h3>
      </div>
    </div>

    <ng-container [ngSwitch]="selectedTab">
      <app-form-art *ngSwitchCase="'art'"></app-form-art>
      <app-form-car *ngSwitchCase="'auto'"></app-form-car>
      <app-form-house *ngSwitchCase="'hogar'"></app-form-house>
    </ng-container>
    
  </div>
</div>
