<section id="servicios">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1 class="section-title" data-aos="fade-up" data-aos-delay="200">Nuestros Servicios</h1>
      </div>
      <div class="col-lg-3 col-sm-12" *ngFor="let service of services">
        <div class="serv-item"
          data-aos="fade-up"
          data-aos-delay="350"
          [class.disabled]="!service.info">
          <div class="serv-content">
            <img class="icon" src="assets/services/{{service.icon}}" alt="icono {{ service.title }}">
            <h2 class="title">{{ service.title }}</h2>
            <p>{{ service.text }}</p>
            <h6 *ngIf="service.info">Ver más</h6>
          </div>
          <div class="serv-info">
            <h2 class="title">{{ service.title }}</h2>
            <ul *ngIf="service.info">
              <li *ngFor="let info of service.info">
                <i class="material-icons">
                  done
                </i>
                {{ info }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>