@import './src/variables'; 

#servicios {
  background: #fff;
  padding: 6rem 0;
  position: relative;
  &::after {
    @include blue-line;
    left: auto;
    height: 10px;
    right: 0;
    top: 0;
  }
  .section-title {
    margin-bottom: 4rem;
    margin-top: 0;
    text-align: center;
    position: relative;
    color: $dark;
    &::after {
      // 
      left: 0;
    }
  }
  .serv-item {
    text-align: center;
    min-height: 325px;
    @include centered-content;
    // @include box-shadow;
    flex-direction: column;
    position: relative;
    transition: all .3s ease-in;
    border-radius: 6px;
    .icon {
      width: 65px;
      height: auto;
      margin-bottom: 1rem;
    }
    .title {
      font-size: 1.25rem;
      margin-top: 0;
      position: relative;
      margin-bottom: 2rem;
      color: $dark;
      text-align: center;
      width: 100%;
      padding: 0 2rem;
      &::after {
        @include blue-line;
        width: 4rem;
        left: calc(50% - 2rem);
        bottom: -0.75rem;
      }
    }
    p {
      color: $gray;
      line-height: 1.3;
      font-size: 14px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 1rem;
      max-width: 300px;
    }
    h6 {
      margin-top: 0;
      color: rgba($primary, .7);
    }
    .serv-content {
      @include full-content;
      @include centered-content;
      flex-direction: column;
      // justify-content: flex-start;
      opacity: 1;
      transition: all .4s ease-in;
      padding: 1.5rem 1rem;
    }
    .serv-info {
      @include full-content;
      @include centered-content;
      flex-direction: column;
      text-align: left;
      opacity: 0;
      transition: all .5s ease-in;
      transform: scale(0);
      padding: 1rem;
      p {
        margin-top: .5rem;
        min-height: auto;
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 14px;
      }
      .btn {
        min-width: 50%;
      }
      ul {
        max-width: 215px;
        margin: 0;
      }
      li {
        font-size: 15px;
        display: flex;
        color: $gray;
        // justify-content: center;
        align-items: end;
        i {
          margin-right: 5px;
          font-size: 16px;
        }
      }
    }
    &:hover {
      transform: translateY(-10px);
      @include box-shadow;
      cursor: pointer;
      .serv-content {
        opacity: 0;
        transform: scale(0);
      }
      .serv-info {
        opacity: 1;
        transform: scale(1);
      }
    }

    &.disabled {
      &:hover {
        .serv-content {
          opacity: 1;
          transform: scale(1);
        }
        .serv-info {
          display: none;
        }
      }
    }
  }

  @media only screen and (max-device-width: 900px) {
    .serv-item {
      min-height: 280px;
      p {
        min-height: auto;
      }
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .serv-item {
      .serv-content {
        padding: 0;
      }
    }
  }
}