@import './src/variables';

$top-height: 70vh;
$nav: 100px;
#ayuda-economica {
  margin-top: calc(#{$nav} + 30px);
  margin-bottom: calc(#{$nav} + 30px);
  .content {
    min-height: $top-height;
    @include valign-center;
    max-width: 370px;
    .title {
      margin-top: 0;
      margin-bottom: 1.5rem;
      color: $dark;
      font-size: 4rem;
      line-height: 1;
    }
    .text {
      margin-top: 0;
      margin-bottom: 1.5rem;
      color: $gray;
    }
    .btn {
      margin: 0;
      width: 90%;
    }
  }
  .img-wrapper {
    min-height: $top-height;
    height: $top-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .img {
      position: relative;
      img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        z-index: 1;
        @include box-shadow;
      }
      &::after {
        position: absolute;
        width: 80%;
        height: 80%;
        right: -25px;
        top: -25px;
        content: '';
        background: $primary;
        z-index: 0;
      }
      &::before {
        position: absolute;
        width: 50%;
        height: 50%;
        left: -35px;
        bottom: -30px;
        content: '';
        background: $light-blue;
        z-index: 0;
      }
    }
  }
}
#cards {
  padding-bottom: 6rem;
  .ayuda-card {
    // border-top: 6px solid $primary;
    text-align: center;
    min-height: 450px;
    @include box-shadow;
    flex-direction: column;
    position: relative;
    transition: all .4s ease-in;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      height: 6px;
      width: 0%;
      content: '';
      background-color: $primary;
      transition: all .4s ease-in;
    }
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 6px;
      width: 0%;
      content: '';
      background-color: $primary;
      transition: all .4s ease-in;
    }
    .icon {
      width: 65px;
      height: auto;
      margin-bottom: 1.5rem;
    }
    .title {
      font-size: 1.6rem;
      margin-top: 0;
      position: relative;
      margin-bottom: 3rem;
      color: $dark;
      text-align: center;
      width: 100%;
      &::after {
        // @include blue-line;
        width: 4rem;
        left: calc(50% - 2rem);
        bottom: -1rem;
      }
    }
    ul {
      margin: 0;
      text-align: left;
      width: 100%;
    }
    li {
      font-size: 1.2rem;
      display: flex;
      color: $gray;
      // justify-content: center;
      align-items: end;
      i {
        margin-right: 5px;
      }
    }
    &-content {
      @include centered-content;
      height: 100%;
      flex-direction: column;
      opacity: 1;
      transition: all .4s ease-in;
      padding: 3rem 2rem;
    }
    &:hover {
      transform: translateY(-10px);
      cursor: pointer;
      @include box-shadow-dark;
      &::after {
        width: 100%;
      }
      &::before {
        width: 100%;
      }

    }
  }
}

#taco-asociate {
  background: $light-gray;
  padding: 4rem 0;
  text-align: center;
  h1 {
    margin: 0;
    margin-bottom: 2rem;
    color: $dark;
    line-height: 1;
  }
  .btn {
    min-width: 20%;
    margin: auto;
  }
}

@media only screen and (max-device-width: 900px) {
  #ayuda-economica {
    .content {
      min-height: auto;
    }
    .img-wrapper {
      min-height: auto;
      height: auto;
      margin-top: 6rem;
    }
  }
  #cards {
    .ayuda-card {
      min-height: auto;
      margin-bottom: 1.5rem;
      .title {
        margin-bottom: 2rem;
      }
    }
  }
  #taco-asociate {
    .btn {
      width: 100%;
    }
  }
}