<app-navbar [status]="true"></app-navbar>
<section id="ayuda-economica">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="content">
          <h1 class="title" data-aos="fade-right" data-aos-delay="150" data-aos-offset="200">Ayuda Económica</h1>
          <p class="text" data-aos="fade-right" data-aos-delay="250" data-aos-offset="200">Participamos con activos para que nuestros asociados puedan crecer.</p>
          <a data-aos="fade-right" data-aos-delay="350" data-aos-offset="200" [scrollTo]="'#cards'" [scrollOffset]="-150" class="waves-effect waves-light btn btn-primary roundedBtn">Ver Más</a>
        </div>
      </div>
      <div class="col-lg-7 l7">
        <div class="img-wrapper" data-aos="fade-up-left" data-aos-delay="500" data-aos-offset="200">
          <div class="img">
            <img src="assets/credits/ayuda-economica2.jpg" alt="Familia feliz en el hogar">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="cards">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12" *ngFor="let info of ayudaInfo">
        <div class="ayuda-card" data-aos="fade-up" data-aos-delay="200" data-aos-offset="200">
          <div class="ayuda-card-content">
            <img class="icon" src="assets/credits/{{info.icon}}" alt="icono {{ info.title }}">
            <h2 class="title">{{ info.title }}</h2>
            <ul>
              <li *ngFor="let item of info.items">
                • {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="taco-asociate">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1 data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">Quiero formar parte de AMPM</h1>
      </div>
      <div class="col-lg-12 col-sm-12 text-center">
        <button data-aos="fade-up" data-aos-delay="200" data-aos-offset="200" routerLink="" fragment="asociate" [scrollTo]="'#asociate'" [scrollOffset]="-90" class="waves-effect waves-light btn btn-primary roundedBtn">Asociarme</button>
      </div>
    </div>
  </div>
</section>