<!-- Formulario Hogar -->
<form [formGroup]="houseForm">
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-8">
      <input [disabled]="loadingSendForm" id="location" name="location" type="text" class="validate" formControlName="location" required>
      <label for="location">Localidad*</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="value" name="value" type="text" class="validate" formControlName="value" required>
      <label for="value">Metros cuadrados o valor*</label>
    </div>
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="floor" name="floor" type="text" class="validate" formControlName="floor" required>
      <label for="floor">Piso - Dpto</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-5">
      <div class="form-options">
        <span>Tiene alarma:</span>
        <div class="input-field col l12 s12 inline">
          <label for="alarm">
            <input [disabled]="loadingSendForm" id="alarm" formControlName="hasAlarm" class="with-gap" name="hasAlarm" value="sí" type="radio" />
            <span>Sí</span>
          </label>
          <label for="notAlarm">
            <input [disabled]="loadingSendForm" id="notAlarm" formControlName="hasAlarm" class="with-gap" name="hasAlarm" value="no" type="radio" />
            <span>No</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-5">
      <div class="form-options">
        <span>Vivienda permanente*:</span>
        <div class="input-field col l12 s12 inline">
          <label for="permanentPlace">
            <input [disabled]="loadingSendForm" id="permanentPlace" formControlName="permanentPlace" class="with-gap" name="permanentPlace" value="sí" type="radio"
            />
            <span>Sí</span>
          </label>
          <label for="notPermanentPlace">
            <input [disabled]="loadingSendForm" id="notPermanentPlace" formControlName="permanentPlace" class="with-gap" name="permanentPlace" value="no" type="radio"
            />
            <span>No</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-5">
      <div class="form-options">
        <span>Tipo de vivienda*:</span>
        <div class="input-field col l12 s12 inline">
          <label for="house">
            <input [disabled]="loadingSendForm" id="house" formControlName="typeOfPlace" class="with-gap" name="typeOfPlace" value="casa" type="radio" />
            <span>Casa</span>
          </label>
          <label for="department">
            <input [disabled]="loadingSendForm" id="department" formControlName="typeOfPlace" class="with-gap" name="typeOfPlace" value="departamento" type="radio"
            />
            <span>Dpto.</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-5">
      <div class="form-options">
        <span>Tiene reja:</span>
        <div class="input-field col l12 s12 inline">
          <label for="hasGrille">
            <input [disabled]="loadingSendForm" id="hasGrille" formControlName="hasGrille" class="with-gap" name="hasGrille" value="sí" type="radio" />
            <span>Sí</span>
          </label>
          <label for="notGrille">
            <input [disabled]="loadingSendForm" id="notGrille" formControlName="hasGrille" class="with-gap" name="hasGrille" value="no" type="radio" />
            <span>No</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-8">
      <input [disabled]="loadingSendForm" id="contact" name="contact" type="text" class="validate" formControlName="contact" required>
      <label for="contact">Contacto*</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="tel" name="tel" type="tel" class="validate" formControlName="tel" required>
      <label for="tel">Teléfono*</label>
    </div>
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="email" name="email" type="text" class="validate" formControlName="email" required>
      <label for="email">Email*</label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-sm-12 submit-wrapper">
      <button type="submit" 
        class="waves-effect waves-light btn btn-primary roundedBtn" 
        (click)="sendForm()" 
        [disabled]="!houseForm.valid || loadingSendForm">
        Enviar
      </button>
    </div>
  </div>
</form>