<app-navbar></app-navbar>
<app-banner-top></app-banner-top>
<app-about></app-about>
<app-services></app-services>
<app-external-sites></app-external-sites>
<app-benefits></app-benefits>
<app-associate></app-associate>
<app-contact></app-contact>