@import './src/variables'; 

#external-sites {
  background: $light-gray;
  padding: 6rem 0;
  position: relative;
  &::after {
    @include blue-line;
    left: auto;
    height: 10px;
    right: 0;
    top: 0;
  }
  .section-title {
    margin-bottom: 4rem;
    margin-top: 0;
    text-align: center;
    position: relative;
    color: $dark;
    &::after {
      // 
      left: 0;
    }
  }
  .serv-item {
    text-align: center;
    min-height: 264px;
    @include centered-content;
    background: #fff;
    flex-direction: column;
    position: relative;
    transition: all .2s ease-in-out;
    border-radius: 20px;
    width: 100%;
    @include box-shadow-thin;
    padding: 1rem;
    .icon {
      width: 65px;
      height: auto;
      margin-bottom: 1.25rem;
    }
    .title {
      font-size: 1.5rem;
      margin-top: 0;
      position: relative;
      margin-bottom: 2rem;
      color: $dark;
      text-align: center;
      width: 100%;
      padding: 0 2rem;
      &::after {
        @include blue-line;
        width: 4rem;
        left: calc(50% - 2rem);
        bottom: -1.25rem;
      }
    }
    p {
      color: $gray;
      line-height: 1.3;
      font-size: 14px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0rem;
      max-width: 300px;
    }
    a {
      margin-top: 0;
      color: rgba($primary, .7);
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,.10);
    }
  }

  @media only screen and (max-device-width: 900px) {
    .serv-item {
      min-height: 280px;
      margin-bottom: 10px;
      p {
        min-height: auto;
      }
    }
  }

}