<section id="external-sites">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1 class="section-title" data-aos="fade-up" data-aos-delay="200">Nuestros Sitios</h1>
      </div>
      <div class="col-lg-4 col-sm-12" *ngFor="let service of externalSites">
        <div class="serv-item" data-aos="fade-up" data-aos-delay="350" [class.disabled]="!service.info">
          <img class="icon" src="assets/external-sites/{{service.icon}}" alt="icono {{ service.title }}">
          <h2 class="title">{{ service.title }}</h2>
          <p>{{ service.text }}</p>
          <a target="_blank" href="{{service.url}}">Ir al sitio</a>
        </div>
      </div>
    </div>
  </div>
</section>