<section id="beneficios">
  <div class="benefits-bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 center">
        <h1 class="title">Beneficios</h1>
      </div>
      <div class="col-lg-12 col-sm-12">
        <!-- <swiper [config]="swiperConfig">
          <div class="carousel-item swiper-slide" *ngFor="let benefit of benefits">
            <article>
              <header>
                <img src="{{ benefit.img }}" alt="">
              </header>
              <main>
                <h4 class="name">{{ benefit.name }}</h4>
                <p class="benefit"> {{ benefit.benefit }} </p>
                <div *ngIf="benefit.info" class="info">
                  <p *ngFor="let info of benefit.info"> {{ info }} </p>
                </div>
              </main>
            </article>
          </div>
        </swiper> -->

        <div class="swiper-container" [swiper]="swiperConfig">
          <div class="swiper-wrapper">
            <div *ngFor="let benefit of benefits" class="benefit-item swiper-slide">
              <!--Card-->
              <article>
                <header>
                  <img src="{{ benefit.img }}" alt="">
                </header>
                <main>
                  <h4 class="name">{{ benefit.name }}</h4>
                  <p class="benefit"> {{ benefit.benefit }} </p>
                  <div *ngIf="benefit.info" class="info">
                    <p *ngFor="let info of benefit.info"> {{ info }} </p>
                  </div>
                </main>
              </article>
              <!--/.Card-->
            </div>
          </div>
          <!-- <div class="swiper-scrollbar"></div> -->
          <div class="swiper-pagination swiper-pagination-custom"></div>
          <a class="swiper-button-prev">
          </a>
          <a class="swiper-button-next">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
