@import './src/variables';

#beneficios {
  background: #fff;
  padding: 6rem 0;
  position: relative;
  .benefits-bg {
    @include full-content;
    height: 50%;
    background: $primary;
  }
  .title {
    margin: 0;
    text-align: center;
    position: relative;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    &::after {
      @include blue-line;
      left: 50%;
      width: 20rem;
      background: #fff;
      z-index: 9;
      bottom: -1rem;
    }
    &::before {
      @include blue-line;
      background: #fff;
      width: 30rem;
      z-index: 9;
      right: 0%;
      left: auto;
      top: -1rem;
    }
  }
  .carousel {
    min-height: 600px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .indicators {
      .indicator-item {
        background-color: $primary !important;
        &.active {
          background-color: $primary !important;
        }
      }
    }
  }
  .carousel .indicators .indicator-item {
    background-color: $primary !important;
    
  }
  
  .benefit-item {
    opacity: 1 !important;
    background: #fff;
    @include box-shadow;
    height: auto;
    width: 25%;
    max-width: 320px;
    article {
      header {
        background: #fff;
        @include centered-content;
        height: 200px;
        img {
          max-width: 75%;
          max-height: 75%;
        }
      }
      main {
        padding: 1rem;
        @include centered-content;
        flex-direction: column;
        min-height: 170px;
        text-align: center;
        .name {
          color: $dark;
          margin-top: 0;
          margin-bottom: .5rem;
          font-size: 1.5rem;
        }
        .benefit {
          color: $primary;
          margin: .5rem 0;
          font-size: 16px;
        }
        .info {
          min-height: 3em;
          p {
            color: $gray; 
            font-size: 14px;
            margin: 0;
            line-height: 1.5rem;
          }
        }
        .btn {
          margin-top: 1rem;
        }
      }
    }
  }
  .modal {
    background: #fff;
    padding: 3rem;
    .header {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 2rem;
      .img {
        img {
          width: 200px;
          height: auto;
        }
      }
      .title {
        text-transform: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 2.5em;
        p {
          margin-top: 0;
          font-size: 18px;
          color: $black;
          margin-bottom: 0;
        }
        .name {
          color: $dark;
          margin-top: 0;
        }
        .benefit {
          color: $primary;
        }
      }
    }

    .modal-footer {
      background: #fff;
    }
  }

  @media only screen and (max-device-width: 480px) {
    .container {
      width: 100%;
      padding: 0;
      .col-lg-12 {
        padding: 0;
      }
    }
    .benefit-item {
      width: auto;
      overflow: visible;
      article {
        background: #fff;
        min-width: 80vw;
        height: 100%;
        @include box-shadow;
      }
    }
  }
}