@import './src/variables.scss';

$banner-top-height: 80vh;

.cotizaciones {
  background: $secondary;
  color: white;
  height: calc(100vh - #{$banner-top-height});
  min-height: 150px;
  @include centered-content;
  padding: 1.5rem 0;

  &__item {
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    height: 100%;
    @include centered-content;
    padding: 1rem 5rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    
    &-icon {
      color: inherit;
      font-size: 2.5rem;
      margin-right: 1rem;
      transition: all .3s ease-in-out;
    }

    &-text {
      font-weight: 300;
      
      strong {
        font-weight: 600;
      }
    }

    &:hover,
    &.selected {
      background: white;
      color: $primary;
      cursor: pointer;

      .cotizaciones__item-icon::before {
        color: $primary;
      }
    }
  }
}

  @media only screen and (max-device-width: 900px) {
    .cotizaciones {
      height: auto;

      &__item {
        margin-bottom: 1rem;

        &.last {
          margin-bottom: 0;
        }
      }
    }

    .col-item {
      margin-bottom: 1rem;
    }
  }