<div class="cotizaciones">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-4 col-sm-12" *ngFor="let item of cotizaciones" [routerLink]="['/cotizaciones', item.title]"> -->
      <div class="col-lg-4 col-sm-12 col-item" *ngFor="let item of cotizaciones; let i = index" (click)="goToForm(item.title)">
        <div 
          class="cotizaciones__item"
          [class.last]="(i + 1) === cotizaciones.length"
          [class.selected]="item.title === selectedTabTitle">
          <span class="cotizaciones__item-icon" [ngClass]="'icon-'+ item.icon"></span>
          <span class="cotizaciones__item-text">
            Cotización
            <br>
            <strong>de {{ item.title }}</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>