<section id="banner-top">
  <div class="top-gradient"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-12">
        <div class="content top">
          <h1 class="title">Mutual Pedro <br>de Mendoza</h1>
          <h3 class="subtitle">Beneficios a todo momento</h3>
          <p class="text">Conocé más sobre lo que tenemos para vos.</p>
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <a routerLink="" fragment="turismo" [scrollTo]="'#turismo'" [scrollOffset]="-90" class="waves-effect waves-light btn btn-outline-primary out-white">Turismo</a>
            </div>
            <div class="col-lg-6 col-sm-12">
              <a routerLink="ayuda-economica" class="waves-effect waves-light btn btn-primary roundedBtn btn-white">Ayuda Económica</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <svg id="blue-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#F8F8F8" points="65,0 0,0 0,100 100,100" />
  </svg>
</section>
<app-selector-cotizaciones></app-selector-cotizaciones>