@import './src/variables';

$banner-top-height: 80vh;

#banner-top {
  // margin-top: $nav;
  background: $primary;
  height: $banner-top-height;
  min-height: 500px;
  background: url(/assets/ampm-top.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  .col {
    position: relative;
  }
  .top-gradient {
    @include full-content;
    height: 30%;
    background-image: linear-gradient(to bottom, #fff, transparent);
  }
  .content {
    color: #fff;
    height: $banner-top-height;
    @include valign-center;
    min-height: 600px;
    padding-right: 2rem; 
    padding-top: 2rem;
    position: relative;
    z-index: 2;
    .title {
      font-weight: 700;
      line-height: 1;
      margin-bottom: 2rem;
      margin-top: 0;
    }
    .subtitle {
      font-weight: 400;
      margin-bottom: 0rem;
      margin-top: 0;
    }
    .text {
      font-size: 1.4rem;
      font-weight: 200;
      margin-bottom: 2rem;
      margin-top: 0;
    }
    .btn {
      width: 100%;
    }
  }
  #blue-block {
    @include full-content;
    width: 60%;
    z-index: 1;
    polygon {
      fill: $primary;
    }
    
  }

  @media only screen and (max-device-width: 900px) {
    background-position-x: right;
    #blue-block {
      width: 200%;
      opacity: .8;
      // display: none;
    }
    .content {
      padding-right: 0;
    }
    .btn {
      &.out-white {
        margin-bottom: 1rem;
      }
    }
  }
  @media only screen and (max-device-width: 500px) {
    background: url(/assets/ampm-top-mb.jpg) no-repeat center center;
    .title br {
      display: none;
    }
  }
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    min-height: 100vh;
    height: auto;
    .content {
      min-height: 100vh;
      margin-top: 100px;
    }
  }
}
