@import './src/variables';

#turismo.swiperTourism {

  .tourism-header {
    padding: 2rem 0;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    background-color: $primary;
    display: none;
    h1 {
      margin: 0;
    }
  }
  
  .gradient {
    @include full-content;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0) 20%);
  }
  .credits-content {
    position: relative;
    height: 100%;

    &__title {
      color: $primary;
      margin-top: 0;
      margin-bottom: 3.5rem;
      position: relative;
      text-transform: uppercase;
      &::after {
        @include blue-line;
        bottom: -1.5rem;
        left: 0;
      }
    }
    &__subtitle {
      margin: 1rem 0 .5rem;
      font-size: 1.5rem;
      line-height: 1.5;
      margin-bottom: 2rem;
      white-space: pre-line;
    }
    &__text {
      color:  $secondary;
      margin-top: 0;
      margin-bottom: 0rem;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 1.5;
    }
    &__block-info {
      background-color: $secondary;
      padding: 10px 12px;
      color: #fff;
      display: inline-block;
      margin: 1rem 0;
    }
    .btn {
      width: 50%;
      margin-top: 3.5rem;
    }
  }

  // Swiper
  .swiper-container {
    height: 100%;
    width: 100%;

    .swiper-slide {
      width: 100% !important;

      &__content {
        background: #fff;
        padding: 6rem 0;
        position: relative;
        min-height: 60vh;
        @include valign-center;
        width: 100%;
        .bg-img {
          @include full-content;
          background-color: $primary;
          background-position: center;
          background-size: cover;
          opacity: 1;
          left: auto;
          width: 50%;
        }

      }
    }
  }

  .swiperTourism__arrows {
    bottom: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next, .swiper-button-prev {
      position: relative;
      background-size: contain;
      width: 35px;
    }
  }

  .arrows-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media only screen and (max-device-width: 480px) {
    .tourism-header {
      display: block;
    }
  }

  @media only screen and (max-device-width: 900px) {
    min-height: 50vh;
    .gradient {
      height: 100%;
    }
    .bg-img {
      display: none;
    }
    .credits-content {
      .btn {
        width: 70%;
      }
    }

    #turismo.swiperTourism {
      .swiper-cotainer {
        .swiper-slide {
          &__content {
            width: auto;
            padding: 5rem 15px;
          }
        }
      }

    }
  }
}