<section id="turismo" class="swiperTourism">
  <div class="tourism-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Turismo</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-container" [swiper]="swiperTourism">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let item of tourismItems; let i = index;">
        <div class="swiper-slide__content">
          <div class="bg-gradient"></div>
          <div class="bg-img" [ngStyle]="{'background-image': 'url(assets/tourism/' + item.background + ')'}">
          </div>
          <div class="gradient"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-7 col-sm-12">
                <div class="credits-content">
                  <h1 data-aos="fade-right" data-aos-delay="250" data-aos-offset="200" class="credits-content__title">{{ item.title }}</h1>
                  <h3 data-aos="fade-right" data-aos-delay="350" class="credits-content__subtitle">{{ item.subtitle }}</h3>
                  <h4 data-aos="fade-right" data-aos-delay="350" class="credits-content__text">{{ item.text }}</h4>
                  <h4 data-aos="fade-right" data-aos-delay="350" class="credits-content__text">{{ item.text2 }}</h4>
                  <h4 data-aos="fade-right" data-aos-delay="350" class="credits-content__text">{{ item.text3 }}</h4>
                  <p data-aos="fade-right" data-aos-delay="350" class="credits-content__block-info" *ngIf="item.blockInfo">{{ item.blockInfo }}</p>
                  <a *ngIf="item.image"
                    data-aos="fade-right"
                    data-aos-delay="450"
                    class="waves-effect waves-light btn btn-primary roundedBtn"
                    (click)="open(i)">
                    Más Información
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
    <div class="swiperTourism__pagination swiper-pagination hide"></div>
  
    <div class="container arrows-container hide">
      <div class="swiperTourism__arrows">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
  
</section>
