<!-- Formulario ART -->
<form [formGroup]="artForm" #artFormChild>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-5">
      <input [disabled]="loadingSendForm" id="businessName" type="text" class="validate" formControlName="businessName" required>
      <label for="businessName">Razón Social*</label>
    </div>
    <div class="input-field col l12 s12 col-sm-12 col-lg-3">
      <input [disabled]="loadingSendForm" id="cuit" type="number" class="validate" formControlName="cuit" required>
      <label for="cuit">CUIT*</label>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-8">
      <input [disabled]="loadingSendForm" id="contact" name="contact" type="text" class="validate" formControlName="contact" required>
      <label for="contact">Contacto*</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="tel" type="tel" class="validate" formControlName="tel" required>
      <label for="tel">Teléfono*</label>
    </div>
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="email" type="email" class="validate" formControlName="email" required>
      <label for="email">Email*</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="zipCode" type="text" class="validate" formControlName="zipCode" required>
      <label for="zipCode">CP / Localidad*</label>
    </div>
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <ngx-select [items]="items" noResultsFound="No se encontraron resultados" formControlName="province" placeholder="Seleccione una provincia*">
      </ngx-select>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-8">
      <input [disabled]="loadingSendForm" id="activity" type="text" class="validate" formControlName="activity" required>
      <label for="activity">Actividad de la empresa*</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="salaryMass" type="number" class="validate" formControlName="salaryMass" required>
      <label for="salaryMass">Masa salarial último mes*</label>
    </div>
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="employeesNumber" type="number" class="validate" formControlName="employeesNumber" required>
      <label for="employeesNumber">Cantidad de empleados*</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="variableFee" type="number" class="validate" formControlName="variableFee" required>
      <label for="variableFee">Cuota variable actual (%)*</label>
    </div>
    <div class="input-field col l12 s12 col-sm-12 col-lg-4">
      <input [disabled]="loadingSendForm" id="fixedFee" type="number" class="validate" formControlName="fixedFee" required>
      <label for="fixedFee">Cuota fija actual ($)*</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-8">
      <input [disabled]="loadingSendForm" id="ART" type="text" class="validate" formControlName="ART" required>
      <label for="ART">ART actual*</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 s12 col-sm-12 col-lg-8">
      <textarea [disabled]="loadingSendForm" id="why" type="text" formControlName="why" class="materialize-textarea validate"></textarea>
      <label for="why">¿Por qué desea cambiar?*</label>
    </div>
  </div>
  <div class="row">
    <div class="file-field input-field col-sm-12 col-lg-4">
      <div class="btn btn-outline-primary">
        <span>Examinar</span>
        <input [disabled]="loadingSendForm" type="file" formControlName="file931" (change)="addFile($event)">
      </div>
      <div class="file-path-wrapper">
        <input [disabled]="loadingSendForm" class="file-path validate" type="text" placeholder="Adjuntar formulario 931">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-sm-12 submit-wrapper">
      <button type="submit" class="waves-effect waves-light btn btn-primary roundedBtn" [disabled]="!artForm.valid || loadingSendForm" (click)="sendForm()">Enviar</button>
    </div>
  </div>
</form>