@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?swii3v');
  src:  url('assets/fonts/icomoon.eot?swii3v#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?swii3v') format('truetype'),
    url('assets/fonts/icomoon.woff?swii3v') format('woff'),
    url('assets/fonts/icomoon.svg?swii3v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-engineer:before {
  content: "\e900";
  color: #fff;
}
.icon-house:before {
  content: "\e901";
  color: #fff;
}
.icon-car:before {
  content: "\e902";
  color: #fff;
}
