/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,700');
@import url('fonts-icons.css');
@import '~ngx-smart-modal/ngx-smart-modal';
@import 'variables.scss';

html, body {
  font-family: 'Open Sans', sans-serif;
  color: $black;
  overflow-x: hidden;
}

.row {
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
}
.flex {
  display: flex;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  font-size: 17px;
  font-weight: 500;
}

.primary-color {
  color: $primary !important;
}

.dark-color {
  color: $dark !important;
}

.btn {
  height: 42px;
  line-height: 42px;
  transition: all .3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &.btn-primary {
    background-color: $primary;
    color: #fff !important;
    font-weight: 600;

    span {
      color: inherit !important;
    }

    &.roundedBtn {
      border-radius: 40px;
    }
    &:hover, &:focus, &:active, &:active:focus, &.active {
      background-color: $primary;
      box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    }
    &.btn-white {
      background-color: #fff;
      color: $primary !important;
      &:hover,
      &:focus,
      &:active,
      &:active:focus,
      &.active {
        background-color: #fff;
      }
    }
  }
  
  &.btn-outline-primary {
    background: transparent;
    border: 2px solid $primary;
    color: $primary !important;
    border-radius: 40px;
    font-weight: 600;
    &:hover, &:focus, &:active, &:active:focus, &.active {
      border: 2px solid $primary;
      color: $primary;
    }
    &.out-white {
      border-color: #fff;
      color: #fff !important;
      &:hover,
      &:focus,
      &:active,
      &:active:focus,
      &.active {
        background-color: #fff;
        color: $primary !important;
      }
    }
  }

}

#beneficios {
  .swiper-container {
      padding: 6rem 0;
      .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
  }
  .swiper.s-wrapper .swiper-pagination .swiper-pagination-handle {
    padding: 0px !important;
    margin: 0px !important;
    .swiper-pagination-bullet.swiper-pagination-bullet {
      &-last, &-first {
        border: none;
      }
    }
  }
  .swiper-container-horizontal> {
    .swiper-button-next, .swiper-button-prev {
      bottom: 0;
      top: auto;
      background-size: cover;
    }
    .swiper-button-next {
      background-image: url(assets/benefits/ic_chevron_right.svg);
      right: calc(50% - 90px);
    }
    .swiper-button-prev {
      background-image: url(assets/benefits/ic_chevron_left.svg);
      left: calc(50% - 90px);
    }

    .swiper-pagination {
      width: 94px !important;
    }
    .swiper-pagination-bullets {
      .swiper-pagination-bullet.swiper-pagination-bullet {
        background-color: rgba($primary,.2) !important;
        opacity: .8;
        margin: 4px 4px;
        width: 10px;
        height: 10px;
        transform: scale(.7);
        &-active {
          opacity: 1;
          background-color: $primary !important;
          width: 14px;
          height: 14px;
          margin: 2px 4px;
          &-prev,
          &-next {
            transform: scale(1.5);
            opacity: .6;
            margin: 4px 4px;
            &-prev,
            &-next {
              transform: scale(.8);
              opacity: .4;
              margin: 4px 4px;
            }
          }
        }
      }
    }

  }

}

// NGX SELECT
.ngx-select {

  &__choices {
    background: white !important;
    z-index: 99 !important;
    box-shadow: 2px 1px 10px rgba(0,0,0,0.1);
  }
  
  // &__toggle {
  //   display: block !important;
  // }

  &__item {
    padding: 10px 20px !important;
  }
}


@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
    max-width: 90%;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 80%;
    max-width: 80%;
  }
}
@media only screen and (max-width: 990px) {
  .container {
    width: 95%;
  }

}

// Corona Modal

.corona-modal {

  .nsm-content {
    padding: 0 !important;
  }

  &__image {
    // margin-top: 1rem;
    height: 100%;
    width: 100%;
  }
}