// Elementos
$nav: 100px;
$nav-responsive: 60px;
$nav-scrolled: 80px;
// $primary: #1667A8;
$primary: #b21328;
$dark: #000000cc;
$black: rgba(0,0,0,.65);
$gray: rgba(0,0,0,.4);
$light-gray: rgba(0,0,0,.025);
$light-blue: rgba($primary, 0.1);
$secondary: rgb(138,140,142);

// Colores

// Mixins
@mixin valign-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin full-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@mixin box-shadow-thin {
  box-shadow:0 1px 2px 0 rgba(0,0,0,.12)
}
@mixin box-shadow {
  box-shadow: 0px 5px 40px rgba(0,0,0,.12);
}
@mixin box-shadow-dark {
  box-shadow: 5px 5px 40px rgba(0,0,0,.3);
}
@mixin blue-line {
  content: '';
  background: $primary;
  position: absolute;
  width: 25%;
  height: 3px;
  bottom: -1.5rem;
  left: -6rem;
}

// Responsive

@media only screen and (max-device-width: 600px) {
  $nav: 65px !important;
}
form {
  .input-field {
      margin-top: .5rem;
      margin-bottom: .5rem;
      &.inline {
        label {
          position: relative;
          margin-left: 2rem;
          &:last-child {
          }
        }
      }
    }
// 
  // Estilos lineas y labels del formulario
  .input-field {
    /* label focus color */
    label {
      color: $gray;
    }
    textarea {
      max-height: 75px;
      overflow-y: scroll;
    }
    input[type=text],
    input[type=email],
    input[type=number],
    input[type=tel],
    textarea {
      &:focus {
        /* label underline focus color */
        border-bottom: 1px solid $primary;
        box-shadow: 0 1px 0 0 $primary;
        &+ label {
          color: $primary;
        }
      }
      /* valid color */
      &.valid {
        border-bottom: 1px solid $primary;
        box-shadow: 0 1px 0 0 $primary;
      }
      /* invalid color */
      &.invalid {
        border-bottom: 1px solid red;
        box-shadow: 0 1px 0 0 red;
      } 
    }
    /* icon prefix focus color */
    .prefix {
      &.active {
        color: $primary;
      }
    }

    input[type=radio]:checked+span::after {
      border: 2px solid $primary !important;
      background-color: $primary !important;
    }
    input[type=radio]:checked+span::before {
      border: 2px solid $primary !important;
    }
  }
  // End Estilos lineas y labels
}